*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
}

:root {
  --white: hsl(0, 0%, 100%);
  --dark-gray: hsl(0, 0%, 30%);
  --gray: hsl(0, 0%, 70%); 
  --light-gray: hsl(0, 0%, 90%);

  --small: 12px;
  --medium: 15px;
  --big: 20px;
}

a {
  text-decoration: 0;
  color: black;
}

/* Images */

.logo-img {
  width: 40px;
}

.github-img {
  width: 25px;
}

.header-arrow-img,
#language-options img {
  width: 24px;
}

.header-arrow-img {
  cursor: pointer;
}

.close-img {
  width: 11px;
  height: 11px;
}

/*--------*/

button:not(#close), #generate-btn{
  padding: 6px 14px;
  outline: none;
  border: none;
  cursor: pointer;
}

button.on {
  transition: all 0.5s;
}

header {
  background-color: var(--white);
  padding: 12px 20% 4px 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  box-shadow: 0px 0px 10px hsl(0 0% 0% / 0.5 );
  transition: transform 0.7s;
}

header #upper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

#upper div,
#upper a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

header #title p {
  font-size: var(--big);
  font-weight: 700;
}

header nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  width: 20%;
}

header nav > *:not(#language-options) {
  font-size: var(--small);
  padding: 5px;
  height: 35px;
}

#language-options {
  display: flex;
}

#language-options .language {
  cursor: pointer;
}

#generate-btn {
  color: var(--white);
  font-weight: 600;
  font-size: var(--medium);
  padding: 10px 100px;
  user-select: none;

  background: linear-gradient(45deg,#ff3e25, #2fc561, #ffae00, #dd5a22, #2d75d3);
  background-size: 500% 500%;
  background-position: 20%;

  animation: hue-rotate 8s infinite linear;
  transition: font-weight 0.15s;
}

#generate-btn:active {
  color: var(--white);
  font-weight: 400;
}

#color-quant {
  user-select: none;
}

#schemes {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

#schemes button {
  background-color: var(--light-gray);
  font-size: var(--medium);
  transition: all 0.3s;
}

#schemes button:active {
  background-color: var(--gray);
}

#schemes button.selected {
  color: var(--white);
  background-color: var(--dark-gray);
}

#main {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /*  !  */
  gap: 0;
  position: absolute;
  inset: 0;
  z-index: -100;
}

.color {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: end;
  justify-content: center;
  padding-bottom: 20px;
}

.color div{ 
  color: var(--dark-gray);
  font-size: var(--big);
}

.color:hover div{
  display: block;
}

.color .code {
  font-weight: 600;
  font-size: var(--big);
  transition: color 0.15s, background-color 0.3s, box-shadow 0.3s;
  padding: 6px 12px;
}

.color .code:hover {
  background-color: hsl(220 20% 60% / 0.2);
  box-shadow: 0px 0px 8px hsl(0 0% 0% / 0.3 );
}

#tip {
  position: absolute;
  top: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: var(--white);
  padding: 12px 20px;
  border-radius: 0px 10px 10px 0px;
  font-size: var(--medium);
  box-shadow:1px 1px 8px hsl(0 0% 0% / 0.5 );
  transition: transform 0.7s; 
}



#close {
  cursor: pointer;
  width: 14px;
  height: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
}


/* Animation */

@keyframes hue-rotate {
  from {
    -webkit-filter: hue-rotate(0);
    -moz-filter: hue-rotate(0);
    -ms-filter: hue-rotate(0);
    filter: hue-rotate(0);
  }
  to {
    -webkit-filter: hue-rotate(360deg);
    -moz-filter: hue-rotate(360deg);
    -ms-filter: hue-rotate(360deg);
    filter: hue-rotate(360deg);
  }
}

header.off {
  transform: translateY(-80%);
}

header.on {
  transform: translateY(0px);
}

#tip.off {
  transform: translateX(-110%);
}

#tip.on {
  transform: translateX(0px);
}