*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
}

:root {
  --medium: 15px;
  --big: 20px;

  --shadow: 0px 2px 8px hsl(0 0% 0% / 0.3 );
}

.white {
  color: white;
}
.black {
  color: black;
}

a {
  text-decoration: 0;
  color: black;
  cursor: pointer;
}

img {
  user-select: none;
}

/* Images */

.logo img {
  width: 40px;
}

.github img {
  width: 25px;
}

.menu-arrow,
.language-img {
  width: 24px;
}

.menu-arrow {
  cursor: pointer;
  margin-bottom: 2px;
}

.dropdown-language-btn::after {
  content: "";
  width: 15px;
  height: 15px;
  background-image: url('images/arrowDown.svg');
  background-size: cover; 
}

.dropdown-scheme-btn::before,
.dropdown-scheme-btn::after,
.random-btn::before {
  width: 20px;
  height: 20px;
}

.dropdown-scheme-btn::before{
  content: url('images/scheme.svg');
}

.dropdown-scheme-btn::after {
  content: "";
  background-image: url('images/arrowDown.svg');
  background-size: cover; 
}

.random-btn::before {
  content: url('images/random.svg');
}

/* Keyframes */

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes up-down {
  0% {
    transform: translateY(0);
  } 
  50% {
    transform: translateY(10%);
  }
  100% {
    transform: translateY(0);
  }
}

/* Menu */

button, 
.button {
  padding: 10px;
  font-size: var(--medium);
  outline: none;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s;
  user-select: none;
}

button:not([data-dropdown-content] button), 
.button {
  border-radius: 4px;
}

button:hover:not(.selected) {
  background-color: hsl(231, 20%, 85%);
}

button:active:not(.selected) {
  background-color: hsl(231, 25%, 80%);
}

#menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: var(--shadow);
  transition: transform 0.7s;
  position: absolute;
  gap: 8px;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
}

#menu.off {
  transform: translateY(-87%);
}

header {
  padding: 12px 20% 8px 20%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

header .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

header .logo img {
  animation: rotate 0.6s infinite linear;
  animation-play-state: paused;
}

header .logo:hover img {
  animation-play-state: running; /*Cool Solution*/
}

header .logo p {
  font-size: var(--big);
  font-weight: 700;
}

header nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: 20%;
}

#languages .language {
  cursor: pointer;
}

#menu #options {
  display: flex;
  flex-direction: column;
  width: 300px;
  gap: 8px;
}

.dropdown {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

[data-dropdown-btn] {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  flex: 1;
}

.dropdown-scheme-btn {
  justify-content: space-between;
}

[data-dropdown-btn] * {
  pointer-events: none;
}

.dropdown.active > [data-dropdown-content] {
  opacity: 1;
  pointer-events: all;
  transform: translateY(0);
}

[data-dropdown-content] {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: var(--shadow);
  position: absolute;
  width: 100%;
  top: calc(100% + 6px);
  z-index: 100;
  opacity: 0;
  pointer-events: none;
  transform: translateY(-8px);
  transition: opacity 0.3s ease-in-out, transform 0.2s ease-in-out;
  border-radius: 4px;
  overflow: hidden;

}

#languages button {
  padding: 2px 4px
}

#schemes button {
  padding: 6px 14px;
}

[data-dropdown-content] button {
  background-color: hsl(0, 0%, 90%);
  font-size: var(--medium);
  transition: all 0.2s;
  width: 100%;
}

[data-dropdown-content] button.selected {
  color: white;
  background-color: hsl(232, 15%, 45%)
}

#options .main-gen {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 8px;
}

#color-picker {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 4px;
  position: relative;
  flex: 1;
}

#color-picker input {
  cursor: pointer;
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.random-btn {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 4px;
}

/* Main */

#index #main {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /*  !  */
  gap: 0;
  z-index: -100;
}

.color {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: end;
  justify-content: center;
  padding-bottom: 20px;
  cursor: pointer;
}

.color .code {
  font-weight: 600;
  font-size: var(--big);
  transition: opacity 0.2s, font-size 0.2s;
  padding: 6px 12px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  /*user-select: none;*/
}

.color:hover .code {
  font-size: 22px;
}

.color:hover .code::after {
  content: "";
  width: 18px;
  height: 18px;
  background-size: cover;
  animation: up-down 0.6s ease-in-out infinite;
  display: none;
  display: block;
}

.color:hover .code.copied::after {
  display: none;
}


.code.white::after {
  background-image: url('images/copyWhite.svg');
}

.code.black::after {
  background-image: url('images/copyBlack.svg');
}


#tip::before {
  content: url('images/tip.svg');
}

#tip {
  position: absolute;
  top: 30%;
  transform: translateX(-100%);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: white;
  padding: 12px 14px;
  font-size: var(--medium);
  box-shadow: var(--shadow);
  border-radius: 0px 4px 4px 0px;
  transition: transform 0.7s; 
  user-select: none;
}

#tip.on {
  transform: translateX(0%);
}

.close-tip {
  cursor: pointer;
}

